* {
  font-size: 50px;
  text-align: center;
}

/* Styles for the correctly typed characters */
.correct-char {
  color: green;
}

/* Styles for the incorrectly typed characters */
.incorrect-char {
  color: red;
}

/* .current-char-underline {
  text-decoration: underline;
  line-height: normal;
} */
